.title {
    font-family: 'Jua', sans-serif;
}

.playerTurns {
    .player {
        @keyframes win {
            0% {
                transform-origin: bottom;
                transform: rotate(10deg);
                left: 0;
                top: 0;
            }

            25% {
                transform: rotate(-15deg);
                left: -30px;
                top: -10px;
            }

            75% {
                transform: rotate(10deg);
                left: -10px;
                top: -5px;
                z-index: 2;
            }

            100% {
                transform: rotate(10deg);
                left: -10px;
                top: -5px;
                z-index: 2;
            }
        }

        &.winner {
            .trophy {
                animation-name: win;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
            }
        }

        .trophy {
            z-index: 0;
        }

        .text {
            transition: opacity .3s, filter .3s; 
            position: relative;
            z-index: 1;
        }

        &.passive {
            .text {
                filter: grayscale(60%);
            }
        }
    }
    
    @keyframes btnAppear {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .tie {
        width: 32px;
        height: 32px;
        position: relative;

            img {
                opacity: 0;
                position: absolute;
            }

        .restart {
            position: relative;
            top: 45px;
            cursor: pointer;
        }
    }

    &.onePlayerWin {
        .tie {
            .restart {
                top: 0;
                animation-name: btnAppear;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                animation-duration: 1s;
            }
        }
    }

    &.tie {
        .player {
            opacity: 1 !important;
            filter: none;

            &.player1 {
                filter: drop-shadow(0px 0px 10px #ec4899);
            }

            &.player2 {
                filter: drop-shadow(0px 0px 10px #3b82f6);
            }
        }

        .tie {
            position: relative;
            transition: .5s;

            @keyframes disappear {
                0% {
                    opacity: 1;
                }
                
                100% {
                    opacity: 0;
                }
            }

            .handshake {
                animation: .8s 1 forwards ease-in-out tie; 
            }

            .restart {
                animation-delay: .8s;
                animation-name: btnAppear;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                animation-duration: 1s;
            }
        }
    }

    @keyframes tie {
        0% {
            opacity: 0;
        }

        20% {
            transform: translateY(15px);
        }

        50% {
            transform: translateY(-15px);
        }

        80% {
            transform: translateY(10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}   

.playground {
    .finishLine {
        z-index: 1;

        @keyframes lineX {
            0% {
                width: 0px;
            }

            100% {
                width: 100%;
            }
        }

        @keyframes lineY {
            0% {
                height: 0px;
            }

            100% {
                height: 100%;
            }
        }

        @mixin animationX {
            transform-origin: left;
            animation-name: lineX;
            animation-duration: .5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        @mixin animationY {
            animation-name: lineY;
            animation-duration: .5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            transform-origin: top;
        }

        &.top {
            top: calc(100%/5.8 - 8px);
            @include animationX;
        }

        &.midx {
            top: calc(50% - 4px);
            @include animationX;
        }

        &.bottom {
            top: calc(5*(100%/6) - 3px);
            @include animationX;
        }

        @keyframes crossAnimation {
            0% {
                width: 0px;
            }

            100% {
                width: 141%;
            }
        }
        
        &.cross {
            transform-origin: left;
            transform: rotate(45deg);
            width: 140%;
            left: 2px;
            animation-name: crossAnimation;
            animation-duration: .5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        &.left {
            width: 8px;
            left: calc(100%/5.8 - 8px);
            @include animationY;
        }

        &.midy {
            width: 8px;
            left: calc(50% - 4px);
            @include animationY;
        }

        &.right {
            width: 8px;
            left: calc(5*(100%/6) - 3px);
            @include animationY;
        }

        &.crossReverse {
            transform-origin: right;
            transform: rotate(-45deg);
            right: 2px;
            width: 141%;
            animation-name: crossAnimation;
            animation-duration: .5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    }

    // &::before {
    //     content: '';
    //     position: absolute;
    //     width: 15px;
    //     left: 0;
    //     bottom: 0;
    //     top: 0;
    //     background: linear-gradient(to right, #1e1b4b, transparent);
    // }

    &.stop {
        pointer-events: none;
    }

    table tbody {
        tr {
            .block {
                font-family: 'Jua', sans-serif;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .img {
                    width: 56px;
                    height: 56px;
                    filter: drop-shadow(-2px 3px 0px #3b82f6)
                            drop-shadow(0px 0px 2px #2563eb);

                    img {
                        width: 100%;
                    }
                }

                .circle {
                    width: 52px;
                    height: 52px;
                    border: 7px solid white;
                    filter: drop-shadow(-2px 3px 0px #ec4899)
                            drop-shadow(0px 0px 2px #db2777);

                    justify-self: center;
                    border-radius: 50%;
                }
            }
        }

        td {
            border-top: none;
            
            &:nth-child(1) {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }
        }

        tr:nth-child(3) {
            td {
                border-bottom: none;
            }
        }
    }
}
